<mat-card class="centralizar border-none">
  <mat-card-title>
    <h3 class="font-title">Pagamento feito com sucesso!</h3>
  </mat-card-title>

  <mat-card-content>
    <img src="../../../assets/img/payment-success.png" alt="">

    <h3 class="font-title">Seu projeto foi enviado com sucesso</h3>

    <p class="content-card">O time tracker agradece a sua confiança no nosso trabalho.
      Vamos avaliar todas as informações que foram submetidas, organizar
      tudo direitinho e analisar a viabilidade técnica e mercadológica da
      sua ideia. Tudo isso vai ser feito com muita calma e temos certeza
      que faremos uma grande transformação digital juntos(as). Acompanhe
       nossas atualizações por email ou pelos nossos canais sociais.
       Obrigado e boa sorte. time tracker contato@trackeraceleradora.com.br trackeraceleradora.com.br</p>
  </mat-card-content>

  <mat-card-footer>
      <button mat-raised-button [routerLink]="'/home'">Voltar para o site</button>
  </mat-card-footer>
</mat-card>
