$min-wdt: '375px';
$max-wdt: '745px';

@media(min-width: $min-wdt) and (max-width: $max-wdt) {
  .mt-3 {
    margin-top: 0 !important;
  }
  .fab {
    display: none;
  }

  .logo {
    margin-left: 0 !important;
  }
}
input {
  margin: 10px;
}
.center {
  margin: 0 auto !important;
  text-align: center !important;
  align-items: center !important;
}


.logo {
  width: 50% !important;
  height: 70%;
  margin-left: 50px;
}

$font-family: "Montserrat";
$font-color: #09bacd !important;

.font-light {
  font-size: 18px;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  letter-spacing: -1px;
}

.font-bold {
  font-size: 16px;
  font-weight: 600;
  font-family: $font-family;
  color: $font-color;
}

.fonte-nav-bar {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 18px;
  color: #09bacd !important;
  font-weight: 300;
  font-family: "Montserrat";
}

.nav-bar {
  box-shadow: 0;
  background-color: #fff;
}

.buttom-client {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  color: #08b9cd;
  align-items: center;
  box-shadow: none;
  margin: 6px !important;
}

.padding-left-button-client {
  padding-left: 15px;
}

.style-input-client {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(8,185,205,0);
  border: 2px solid #08b9cd;
  margin: 6px !important;
  padding: 8px !important;
  align-items: flex-start;
}

#client-area {
  margin: 0 10px 0 0 !important;
}

.nav-item:hover {
  background-color: #F0FFFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $font-color;
  opacity: 1; /* Firefox */
  text-align: left;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $font-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $font-color;
}

#icon-margin-right {
  margin-right: 50px;
}

#padding-rigth-0 {
  padding-right: 0;
}
