  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar">

      <a href="#">
        <img class="logo" src="../../../assets/img/tracker-aceleradora.png">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNav"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="collapseNav">
        <!-- Left -->
        <ul class="navbar navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link font-light mt-3" href="#comoFunciona"
              ><h3>como funciona?</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-light mt-3" href="#quemSomos"
            ><h3>quem somos</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-light mt-3" href="#"
              ><h3>contato</h3></a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons" id="client-area">
          <li class="nav-item dropdown">
            <a class="nav-link font-light dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
             data-toggle="dropdown" aria-expanded="false">
              Área do cliente
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li>
                <div class="col-12">
                  <input class="style-input-client" type="text" placeholder="usuario">
                </div>
              </li>
              <li>
                <div class="col-12">
                  <input class="style-input-client" type="text" placeholder="Senha">
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <button mat-raised-button class="buttom-client">Cadastrar</button>
                <button mat-raised-button class="buttom-client">Entrar</button>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#submetaSeuProjeto" class="nav-link center border rounded border-color">
              <span class="font-bold">submeta seu projeto</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect icon-color">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect icon-color">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect icon-color">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
