  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <a href="#">
        <img class="logo" class="img-fluid" src="../../../assets/img/tracker-aceleradora.png">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link fonte-nav-bar" href="comoFunciona"
              >como funciona?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte-nav-bar" href="quemSomos"
              target="_blank">quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte-nav-bar" href="#"
              target="_blank">contato</a>
          </li>
        </ul>
        
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="#" class="nav-link border rounded fonte-nav-bar border-color font size-5">
              <span class="center">subimeta seu projeto</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect icon-color">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect icon-color">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-effect icon-color">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>