  <!--Footer-->
  <footer class="footer">

    <div class="row linha pt-4">
      <div class="col-2">
        <img class="logo-footer" src="../../../assets/img/tracker-aceleradora-2.png">
      </div>

      <div class="col-6">
        <div class="row linha">
          <div class="col-12">
            <a href="#" class="font-footer">como funciona?</a>
          </div>
          <div class="col-12">
            <a href="#" class="font-footer">quem somos</a>
          </div>
          <div class="col-12">
            <a href="#" class="font-footer">contato</a>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row linha" id="linha-float-right">
          <div class="col-1">
            <a href="#">
              <i class="fab fa-linkedin icon-footer"></i>
            </a>
          </div>
          <div class="col-1">
            <a href="#">
              <i class="fab fa-facebook-f icon-footer"></i>
            </a>
          </div>
          <div class="col-1">
            <a href="#">
              <i class="fab fa-instagram icon-footer"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/.Footer-->
