    <mat-dialog-content [formGroup]="formLogin">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>trending_flat</mat-icon>
                Login
          </ng-template>
      <mat-grid-list cols="2" rowHeight="45px">
            <mat-grid-tile colspan="2" rowspan="2">
                <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="email" formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="2">
                <mat-form-field appearance="outline">
                  <input matInput type="text" placeholder="senha" formControlName="password">
                  <mat-icon matSuffix>lock_open</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
</mat-grid-list>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>trending_flat</mat-icon>
                Registrar
            </ng-template>
            <mat-grid-list cols="2" rowHeight="45px">
              <mat-grid-tile colspan="2" rowspan="2">
                <mat-form-field appearance="outline">
                  <input matInput type="text" placeholder="nome" formControlName="name">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="2">
                <mat-form-field appearance="outline">
                  <input matInput type="text" placeholder="email" formControlName="email">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="2">
                <mat-form-field appearance="outline">
                  <input matInput type="text" placeholder="cpf" formControlName="CPF">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="2">
                <mat-form-field appearance="outline">
                  <input matInput type="text" placeholder="senha" formControlName="password">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>

        </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button (click)="close()">Close</button>
    <button mat-button class="mat-primary" (click)="pay()">Login</button>
</mat-dialog-actions>
