<main class="pt-0" style="padding-top: 0px">
    <div class="container">
      <section>

        <p class="font-title centralizar padding-top-title padding-bottom-title">
          <span>ajudamos mentes empreendedoras a</span>
          <br>
          <span>transformarem projetos em empresas de sucesso</span>
        </p>

      </section>

      <section>
        <!--Grid row-->
        <div class="row linha background-color centralizar">

          <div class="col-12">
            <p class="font-subtitle">metodologia ágil de desenvolvimento de pessoas e projetos</p>
          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/card-1.png" class="card-img">

            <p class="label">build</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/card-2.png" class="card-img">

            <p class="label">grow</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/card-3.png" class="card-img">

            <p class="label">scale</p>

          </div>

        </div>
        <!--Grid row-->
      </section>

      <!--Section: Como funciona-->
      <section id="comoFunciona">

        <!--Grid row-->
        <div class="row linha centralizar">

          <div class="col-12">
            <p class="font-title padding-top-title">como funciona?</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/group.png" class="card-img">

            <p class="title-card">
              <span>desenvolvimento do</span>
              <br>
              <span>empreendedor</span>
            </p>

            <p class="content-card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe blanditiis laudantium eum cupiditate esse repudiandae veniam! Cupiditate placeat excepturi minima laborum, quo quod animi laudantium! Dolore iste nostrum saepe omnis!</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/project-management.png" class="card-img">

            <p class="title-card">
              <span>desenvolvimento do</span>
              <br>
              <span>projeto</span>
            </p>

            <p class="content-card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe blanditiis laudantium eum cupiditate esse repudiandae veniam! Cupiditate placeat excepturi minima laborum, quo quod animi laudantium! Dolore iste nostrum saepe omnis!</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/target.png" class="card-img">

            <p class="title-card">
              <span>conexões com o</span>
              <br>
              <span>mercado-alvo</span>
            </p>

            <p class="content-card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe blanditiis laudantium eum cupiditate esse repudiandae veniam! Cupiditate placeat excepturi minima laborum, quo quod animi laudantium! Dolore iste nostrum saepe omnis!</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/community.png" class="card-img">

            <p class="title-card">comunidade empreendedora</p>

            <p class="content-card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe blanditiis laudantium eum cupiditate esse repudiandae veniam! Cupiditate placeat excepturi minima laborum, quo quod animi laudantium! Dolore iste nostrum saepe omnis!</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/support.png" class="card-img">

            <p class="title-card">ferramentas e serviços</p>

            <p class="content-card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe blanditiis laudantium eum cupiditate esse repudiandae veniam! Cupiditate placeat excepturi minima laborum, quo quod animi laudantium! Dolore iste nostrum saepe omnis!</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/money.png" class="card-img">

            <p class="title-card">grana para fazer acontecer</p>

            <p class="content-card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe blanditiis laudantium eum cupiditate esse repudiandae veniam! Cupiditate placeat excepturi minima laborum, quo quod animi laudantium! Dolore iste nostrum saepe omnis!</p>

          </div>

        </div>
        <!--Grid row-->
      </section>
      <!--Section: Como funciona-->

      <!--Section: Quem somos-->
      <section id="quemSomos">

        <h2 class="font-title centralizar padding-top-title">quem somos</h2>

        <p style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo quibusdam a distinctio omnis veritatis dolores eveniet perspiciatis eligendi aut repellat veniam eius iure asperiores dicta tempora, porro natus. Veniam, necessitatibus.</p>

      </section>
      <!--Section: Quem somos-->

      <!--Section: Submeta seu projeto-->
      <section id="submetaSeuProjeto">

        <div class="row linha centralizar">
          <div class="col-12">
            <p class="font-title centralizar padding-top-title">submeta seu projeto agora</p>
          </div>
          <div class="col-12">
            <input class="style-input" type="text" placeholder="nome">
          </div>
          <div class="col-12">
            <input class="style-input" type="text" placeholder="nome do projeto/startup">
          </div>
          <div class="col-12">
            <input class="style-input" type="text" placeholder="site/link">
          </div>
          <div class="col-12">
            <label class="buttom-arquivo">
              <input type="file" class="d-none">
              carregar apresentação / deck em PDF
          </label>
          </div>
          <div class="col-12 mb-2">
              <button class="buttom-submit" (click)="opnDialogPayment()">Forma de pagamento</button>
          </div>
          <div class="col-12">
            <button class="buttom-submit" type="submit">submeter</button>
          </div>
        </div>

      </section>
      <!--Section: Submeta seu projeto-->

    </div>
  </main>
  <!--Main-->
