<main class="pt-0">
      <section>
        <div class="row">
          <div class="col-12">
            <p class="font-title centralizar padding-top-title padding-bottom-title tw">
            </p>
          </div>
        </div>

          <img src="../../assets/img/map-location.png" id="icon-top" class="img-fluid mx-auto d-block" alt="icon">
      </section>

      <section id="metodologia">
        <!--Grid row-->
        <div class="row linha background-color centralizar">

            <div class="col-12">
              <p class="font-subtitle">metodologia ágil de desenvolvimento de pessoas e projetos</p>
          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/card-1.png" class="card-img">

            <p class="label">build</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/card-2.png" class="card-img">

            <p class="label">grow</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/card-3.png" class="card-img">

            <p class="label">scale</p>

          </div>

        </div>
        <!--Grid row-->
      </section>

      <!--Section: Como funciona-->
      <section id="comoFunciona">
        <!--Grid row-->
        <div class="row linha centralizar">

          <div class="col-12">
            <p class="font-title padding-como-funciona">como funciona?</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/group.png" class="card-img-empreendedor">

            <p class="title-card">
              <span>desenvolvimento do</span>
              <br>
              <span>empreendedor</span>
            </p>

            <p class="content-card">Desenvolver o espírito e as capacidades do empreendedor é um dos maiores diferenciais do nosso trabalho.
               Negócios são feitos por pessoas e elas precisam estar preparadas para o que o futuro de sucesso e responsabilidades as espera.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/project-management.png" class="card-img-dsv-projeto">

            <p class="title-card">
              <span>desenvolvimento do</span>
              <br>
              <span>projeto</span>
            </p>

            <p class="content-card">A experiência prática e a constante evolução do pensamento crítico contribuem significativamente na formatação de projetos inovadores.
              Tudo que começa bem organizado tem maiores chances de sucesso no mercado cada vez mais disputado.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/target.png" class="card-img-cnx-marcado">

            <p class="title-card">
              <span>conexões com o</span>
              <br>
              <span>mercado-alvo</span>
            </p>

            <p class="content-card">Entender as características culturais e o funcionamento  do mercado onde se pretende atuar é um ponto chave para o sucesso de qualquer ideia.
               Estar em constante contato com o mercado e conhecer as pessoas certas faz diferença.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/community.png" class="card-img-cmn-empreendedora">

            <p class="title-card">comunidade empreendedora</p>

            <p class="content-card">Conhecer pessoas que já passaram por experiências semelhantes a sua e compartilhar conhecimentos com quem já passou por diversas situações e foi capaz de resolver problemas complexos é algo incrível.
               Quando estamos juntos vamos mais longe.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/support.png" class="card-img-frm-servicos">

            <p class="title-card">ferramentas e serviços</p>

            <p class="content-card">Para colocar ideias em prática são necessárias diversas ferramentas e serviços. Desde a infraestrutura até a medição da performance dos times as ferramentas são necessárias. Com a Tracker você terá acesso a uma caixa de ferramentas avançada com uma série de vantagens.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/money.png" class="card-img-grana-acontecer">

            <p class="title-card">grana para fazer acontecer</p>

            <p class="content-card">Com a Tracker, quando um projeto é aprovado você já começa a receber uma grana mensal para garantir a velocidade na materialização da ideia. Você não vai precisar esperar para ter o aporte necessário para se dedicar ao projeto. Este é um ponto exclusivo da Tracker.</p>

          </div>

        </div>
        <!--Grid row-->
      </section>
      <!--Section: Como funciona-->

      <!--Section: Quem somos-->
      <section id="quemSomos">

        <p class="font-title centralizar padding-top-title-qm-somos">quem somos</p>

        <p style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo quibusdam a distinctio omnis veritatis dolores eveniet perspiciatis eligendi aut repellat veniam eius iure asperiores dicta tempora, porro natus. Veniam, necessitatibus.</p>

      </section>
      <!--Section: Quem somos-->

      <!--Section: Submeta seu projeto-->
      <section id="submetaSeuProjeto">

        <div class="row linha centralizar form">
          <div class="col-12">
            <h3 class="font-title centralizar padding-top-title-submeta-proj">submeta seu projeto agora</h3>
          </div>
          <div class="col-12">
            <input class="style-input" type="text" placeholder="nome">
          </div>
          <div class="col-12">
            <input class="style-input" type="text" placeholder="nome do projeto/startup">
          </div>
          <div class="col-12">
            <input class="style-input" type="text" placeholder="site/link">
          </div>
          <div class="col-12">
            <label class="buttom-arquivo">
              <input type="file" class="d-none">
              carregar apresentação / deck em PDF
          </label>
          </div>
          <div class="col-12 mb-2">
              <button class="buttom-submit" (click)="opnDialogPayment()">Forma de pagamento</button>
          </div>
          <div class="col-12">
            <button class="buttom-submit" type="submit">submeter</button>
          </div>
        </div>

      </section>
      <!--Section: Submeta seu projeto-->

  </main>
  <!--Main-->
