$font-family: "Montserrat";
$margin-text-cards: "47px";

$font-size-mobile: 35px;
$min-wdt: 375px;
$max-wdt: 768px;



/* Fontes para telas de celular */
@media(min-width: $min-wdt) and (max-width: $max-wdt) {
  .form {
    overflow: hidden;
  }
  .font-title, .font-subtitle {
    font-size: $font-size-mobile !important;
    line-height: 46px !important;
    font-family: $font-family;

  }

  #icon-top {
    margin-bottom: 40px !important;
  }

  .padding-como-funciona {
    padding: 30px 0 32px 0 !important;
  }
  .padding-top-title-submeta-proj {
    padding-top: 33px !important;
  }

  .buttom-arquivo {
    width: 200px !important;
  }

  .float-left {
    float: none !important;
  }
  .float-right {
    float: none !important;
  }
}

main {
  margin-bottom: 25px;
  width: 100%;
  overflow: hidden;
}

.font-subtitle {
  font-size: 33px;
  letter-spacing: -2px;
  line-height: 77px;
  color: #ffffff;
  font-weight: 300;
  font-family: $font-family;
}

.font-light {
  font-size: 24px;
  font-weight: lighter;
  font-family: $font-family;
}

.font-bold {
  font-size: 24px;
  font-weight: bold;
  font-family: $font-family;
}

#icon-top {
  margin-bottom: 95px;
}

.padding-top-title-qm-somos {
  padding-top: 83px;
}

.padding-top-title-submeta-proj {
  padding-top: 83px;
}

.padding-como-funciona {
  padding: 90px 0 102px 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.card-img-empreendedor {
  width: 149px;
  height: 109px;
  margin-top: 10px;
}

.card-img-dsv-projeto {
  width: 128px;
  height: 128px;
}

.card-img-cnx-marcado {
  width: 125px;
  height: 125px;
}

.card-img-cmn-empreendedora, .card-img-frm-servicos {
  width: 139px;
  height: 140px;
}

.card-img-grana-acontecer {
  width: 131px;
  height: 131px;
}

#metodologia {
  width:100%;
}

.title-card {
  font-size: 28px;
  letter-spacing: -1px;
  color: #09bacd;
  font-weight: 300;
  font-family: $font-family;
  margin-bottom: 30px; margin-top: 18px;
  line-height: 0.9;
}

.customer-logos {
  max-height: 300px;
}

.buttom-arquivo {
  width: 400px;
  height: 60px;
  border-radius: 10px;
  background-color: #08b9cd;
  border: 2px solid #08b9cd;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  padding-top: 15px;
}

#comoFunciona {
  margin: 20px;
}


//Slicker config
/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.img-slide-subway {
  margin-top: 19px;
  width: 199px;
  height: 49px;
}

.img-slide-tim {
  margin-top: 10px;
  width: 120px;
  height: 67px;
}

.img-slide-piraque {
  width: 192px;
  height:92px;
}

.img-slide-original {
  width:196px;
  height: 73px;
}

.img-slide-banco-central {
  width: 144px;
  height: 81px;
}

.card-contato {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  margin-bottom: 10px;
}

button {
  background: #08b9cd;
  color: white;
  margin: 10px;
}

.text-card-contato {
  font-size: 32px;
  letter-spacing: -2px;
  line-height: 58px;
  color: #08b9cd;
  font-weight: 300;
  font-family: $font-family;
}
