<main class="pt-0">
      <section>
        <div class="row">
          <div class="col-12">
            <p class="font-title centralizar padding-top-title padding-bottom-title tw">
            </p>
          </div>
        </div>

          <img src="../../assets/img/map-location.png" id="icon-top" class="img-fluid mx-auto d-block" alt="icon">
      </section>

      <section id="metodologia">
        <!--Grid row-->
        <div class="row linha background-color centralizar">

          <div class="col-12">
            <p class="font-subtitle">metodologia ágil de desenvolvimento de pessoas e projetos</p>
          </div>


            <div class="col-12 col-lg-4 col-md-4">
              <div class="float-right">
                <img src="../../assets/img/card-1.png" class="card-img">
                <p class="label">build</p>
              </div>
            </div>

            <div class="col-12 col-lg-4 col-md-4">
              <img src="../../assets/img/card-2.png" class="card-img">
              <p class="label">grow</p>
            </div>

          <div class="col-12 col-lg-4 col-md-4">
            <div class="float-left">
              <img src="../../assets/img/card-3.png" class="card-img">
              <p class="label">scale</p>
            </div>
          </div>

        </div>
        <!--Grid row-->
      </section>

      <!--Section: Como funciona-->
      <section id="comoFunciona">
        <!--Grid row-->
        <div class="row linha centralizar">

          <div class="col-12">
            <p class="font-title padding-como-funciona">como funciona?</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/group.png" class="card-img-empreendedor">

            <p class="title-card">
              <span>desenvolvimento do</span>
              <br class="h-5">
              <span>empreendedor</span>
            </p>

            <p class="content-card mb-5">Desenvolver o espírito e as capacidades do empreendedor é um dos maiores diferenciais do nosso trabalho.
               Negócios são feitos por pessoas e elas precisam estar preparadas para o que o futuro de sucesso e responsabilidades as espera.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/project-management.png" class="card-img-dsv-projeto">

            <p class="title-card">
              <span>desenvolvimento do</span>
              <br>
              <span>projeto</span>
            </p>

            <p class="content-card mb-5">A experiência prática e a constante evolução do pensamento crítico contribuem significativamente na formatação de projetos inovadores.
              Tudo que começa bem organizado tem maiores chances de sucesso no mercado cada vez mais disputado.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/target.png" class="card-img-cnx-marcado">

            <p class="title-card">
              <span>conexões com o</span>
              <br>
              <span>mercado-alvo</span>
            </p>

            <p class="content-card mb-5">Entender as características culturais e o funcionamento  do mercado onde se pretende atuar é um ponto chave para o sucesso de qualquer ideia.
               Estar em constante contato com o mercado e conhecer as pessoas certas faz diferença.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/community.png" class="card-img-cmn-empreendedora">

            <p class="title-card">comunidade empreendedora</p>

            <p class="content-card">Conhecer pessoas que já passaram por experiências semelhantes a sua e compartilhar conhecimentos com quem já passou por diversas situações e foi capaz de resolver problemas complexos é algo incrível.
               Quando estamos juntos vamos mais longe.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/support.png" class="card-img-frm-servicos">

            <p class="title-card">ferramentas e serviços</p>

            <p class="content-card">Para colocar ideias em prática são necessárias diversas ferramentas e serviços. Desde a infraestrutura até a medição da performance dos times as ferramentas são necessárias. Com a Tracker você terá acesso a uma caixa de ferramentas avançada com uma série de vantagens.</p>

          </div>

          <div class="col-12 col-lg-4 col-md-4">

            <img src="../../assets/img/money.png" class="card-img-grana-acontecer">

            <p class="title-card">grana para fazer acontecer</p>

            <p class="content-card">Com a Tracker, quando um projeto é aprovado você já começa a receber uma grana mensal para garantir a velocidade na materialização da ideia. Você não vai precisar esperar para ter o aporte necessário para se dedicar ao projeto. Este é um ponto exclusivo da Tracker.</p>

          </div>

        </div>
        <!--Grid row-->
      </section>
      <!--Section: Como funciona-->

      <!--Section: Quem somos-->
      <section id="quemSomos">

        <p class="font-title centralizar padding-top-title-qm-somos">quem somos</p>

        <p style="text-align: center;" class="content-card">
          O time interdisciplinar Tracker conta com profissionais com ampla experiência no mercado de startups,<br>
          novas ideias e modelos de gestão inovadores. Somos um hub de pessoas dispostas a executar<br> ideias de alto impacto e
          transformação social através do empreendedorismo.

        </p>
        <h4 style="text-align: center;" class="content-card mt-5">  Marcas que já trabalharam com a Tracker</h4>

          <div class="row" style="align-items: center; margin-left: 23%">
            <div><img class="img-slide-subway centralizar m-2" src="../../assets/img/subway-logo-Pesquisa-Google.png"></div>
            <div><img class="img-slide-tim centralizar m-2" src="../../assets/img/TIM-Logo.png"></div>
          <div><img class="img-slide-piraque centralizar m-2" src="../../assets/img/Layer 1.png"></div>
          <div><img class="img-slide-banco-central centralizar m-2" src="../../assets/img/Layer 2.png"></div>
          <div><img class="img-slide-original centralizar m-2" src="../../assets/img/Logo_Oficial_Banco_Original_-_Verde.png"></div>
        </div>
        <div class="row" style="align-items: center; margin-left: 23%">
          <div><img class="img-slide-subway centralizar m-2" src="../../assets/img/subway-logo-Pesquisa-Google.png"></div>
          <div><img class="img-slide-tim centralizar m-2" src="../../assets/img/TIM-Logo.png"></div>
        <div><img class="img-slide-piraque centralizar m-2" src="../../assets/img/Layer 1.png"></div>
        <div><img class="img-slide-banco-central centralizar m-2" src="../../assets/img/Layer 2.png"></div>
        <div><img class="img-slide-original centralizar m-2" src="../../assets/img/Logo_Oficial_Banco_Original_-_Verde.png"></div>
      </div>
      </section>
      <!--Section: Quem somos-->

      <!--Section: Submeta seu projeto-->
      <section id="submetaSeuProjeto">
        <div class="row linha centralizar">
          <div class="col-12">
            <p class="font-title centralizar padding-top-title-submeta-proj">submeta seu projeto agora</p>
          </div>
          <div class="centralizar">
            <label class="buttom-arquivo m-2">
              <button class="d-none" type="submit" [routerLink]="'/registro'"></button>
              <h3>submeter</h3>
            </label>
          </div>
        </div>
        <div class="centralizar">
          <label class="buttom-arquivo">
            <button class="d-none"></button>
            <h3>baixar edital</h3>
          </label>
        </div>
      </section>
      <!--Section: Submeta seu projeto-->

      <!--Section contato-->
      <section id="contato" >
        <form [formGroup]="formContato">
        <mat-card class="card-contato">
          <mat-card-title class="p-3 text-card-contato"><p>Entre em contato</p></mat-card-title>
          <mat-card-header>
          <img mat-card-image class="pb-3" src="../../assets/img/tracker-aceleradora.png" style="width: 25%; height: 25%; margin: 0 auto;" alt="logo">
        </mat-card-header>
          <mat-card-content>
              <mat-grid-list cols="1">
                <mat-form-field class="w-100 style-input">
                    <input matInput type="text" formControlName="nome" placeholder="Seu nome">
                </mat-form-field>
              </mat-grid-list>

              <mat-grid-list cols="1">
                <mat-form-field class="w-100 style-input">
                    <input matInput type="text" formControlName="email" placeholder="Email">
                </mat-form-field>
              </mat-grid-list>

              <mat-grid-list cols="1">
                <mat-form-field class="w-100 style-input">
                    <input matInput type="text" formControlName="empresa" placeholder="nome da sua empresa">
                </mat-form-field>
              </mat-grid-list>

              <mat-grid-list cols="1">
                <mat-form-field class="w-100 style-input">
                    <textarea matInput type="textarea" formControlName="duvida" placeholder="Diga oque podemos te ajudar!"></textarea>
                </mat-form-field>
              </mat-grid-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button>Enviar!</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </section>
  </main>
  <!--Main-->
