button { float: right}

//cor do icone do stepper
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #09bacd;
}

//background do icone do stepper
::ng-deep .mat-step-header .mat-step-icon-content {
  background-image: url('../../../assets/img/Ellipse\ 1.png');
  height: 54px;
  width: 54px;
  align-items: center;
}

::ng-deep .mat-step-header .ng-star-inserted {
  width:32px;
  height: 36px;
  margin: 0 auto;
}

//cor do label do step
::ng-deep .mat-step-header .mat-step-text-label {
  color: #08B9CD;
  width: 100% !important;
  margin: 15px 0 0 20px;
}


mat-grid-list {
  width: 100%;
  margin-top: 15px;

}

.style-input {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background-color: rgba(8,185,205,0);
  border: 2px solid #08b9cd;
  margin-bottom: 10px;
  padding-left: 12px;
}

button {
  background: #08b9cd;
  color: white;
  margin: 10px;
}


::ng-deep .ng-pristine .ng-valid, .ng-pristine .ng-valid .ng-touched,
::ng-deep .ng-untouched .ng-valid .ng-dirty {
  display: none;
}

#input-invisivel {
  display: none;

}

.container {
  position: relative;
}
.buttom-arquivo{
  cursor: pointer;
}

.card-header {
  background-color: #09bacd;
  color: #fff;
}

mat-stepper:hover {
  cursor: pointer;
}
